<div class="content">
<div class="images"><%= video_tag("Film_burn.mov", style:"height:675px;", autoplay: true) %></div><div class="images"><%= image_tag("MERCH.jpg", style:"width:100%;height:675px;")%></div>
<div class="images"><%= image_tag("charlesTIME.jpg", style: "width:100%; height:675px;")%></div>
<div class="images"><%= image_tag("Weather.jpg", style: "width:100%; height:675px;")%><div class="weather"><a href="http://www.accuweather.com/en/ae/dubai/323091/weather-forecast/323091" class="aw-widget-legal">
<!--http://www.accuweather.com/en/free-weather-widgets/current-->
</a><div id="awcc1406763085869" class="aw-widget-current"  data-locationkey="323091" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1406763085869"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script></div></div>
<div class="images"><%= video_tag("Album_cover.mov", style:"height:675px;", autoplay: true) %></div>
</div>
<div class="nav">
<%= mp3_player("http://github.com/sekrett/mp3_player/raw/master/test.mp3") %>
</div>

<script>
$(document).ready(function () {
    $(".images").hover(function () {
        $(this).children("video")[0].play();
    }, function () {
        var el = $(this).children("video")[0];
        console.log(el);
        el.currentTime = 0;

        el.pause();
        
    });
});
</script>
