<div class="content">
<div class="images"><%= video_tag("Film_burn.mov", style:"height:675px;", autoplay: true) %></div><div class="images"><%= image_tag("MERCH.jpg", style:"width:100%;height:675px;")%></div>
<div class="images"><%= image_tag("charlesTIME.jpg", style: "width:100%; height:675px;")%></div>
<div class="images"><%= video_tag("Album_cover.mov", style:"height:675px;", autoplay: true) %></div>
</div>

<div class="nav">
<%= mp3_player("http://github.com/sekrett/mp3_player/raw/master/test.mp3") %>

</div>
