<!DOCTYPE html>
<html>
<head>
  <title>DamnHotAlbum</title>
  <%= favicon_link_tag 'dmx.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' %>
<%= mp3_player_headers without_swfobject: true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %></body>
</html>
